<!DOCTYPE html>
<html>
    <head>
        <title>Tourist Catalog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <header>
            <h1>Tourist Catalog</h1>
        </header>
        <section>
            <h2>{{country.name}}</h2>
            <a href="{{url_for('edit_country', country_id=country.id)}}">Edit</a>
            <p>{{country.description}}</p>
            <h2>Attractions</h2>
            <a href="{{url_for('new_attraction', country_id=country.id)}}">Add</a>
            <br>
            {% for a in attractions %}
            <a href="{{url_for('show_attraction', country_id=country.id, attraction_id=a.id)}}">{{a.name}}</a>
            <br>
            {% endfor %}

        </section>
    </body>
</html>